Flask
gunicorn
opencv-python-headless==4.5.*
tensorflow_datasets==4.5.2
scikit-image==0.19.1
scikit-learn==1.0.2
matplotlib
h5py==2.10.0
tensorflow-addons
git+https://github.com/tensorflow/examples.git
